.albums-options {
  margin: 6px 0 0 0;
  border: 1px solid linen;
  box-shadow: 0 0 4px gainsboro;
  background-color: ghostwhite;
  background-image: linear-gradient(to top, ghostwhite, snow);
  border-radius: 4px;
  padding: 6px 0;
}
