.draft-alert {
  margin: 4px 0 0 0;
}

.editor-forms-block {
  margin: 6px 0 0 0;
  padding: 8px;
}

.editor-forms-block textarea {
  text-align: justify;
}

#new-paragraph-editor .form-group {
  margin: 0;
}
