.entity-link {
  color: dimgray;
}

.form-form {
  margin: 4px 0 0 0;
}

.entity-details {
  margin: 4px 0 0 0;
}

.entity-summary {
  margin: 4px 0 0 0;
}

.entity-alias {
  margin: 4px 0 0 0;
  text-align: center;
}

.entity-labels-block {
  margin: 6px 0 0 0;
}
