.draft-alert {
  margin: 4px 0 0 0;
}

.text-block {
  margin: 4px 0 0 0;
}

.editor-forms-block {
  margin: 6px 0 0 0;
  padding: 8px;
}

.editor-forms-block textarea {
  text-align: justify;
  font-size: 12pt;
}

.editor-forms-block input {
  font-size: 12pt;
}

#new-paragraph-editor .form-group {
  margin: 0;
}
