.entity-text-block {
  text-align: justify;
}

.entity-text-block h2 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  margin: 4px 0;
}

.entity-text-block p {
  margin: 0 0 6px;
}

.entity-text-block ul, .entity-text-block ol {
  margin: 2px 0 6px;
  padding: 0 0 0 20px;
}

.entity-text-block li {
  text-align: justify;
  margin: 0 0 6px 0;
  padding-right: 8px;
}

.entity-text-block li p {
  margin: 0;
  padding: 0;
}

.entity-text-block hr {
  margin: 6px 0 8px 0;
  border-color: #d3ddd3;
}

.entity-text-block .image-par {
  text-align: center;
}

.entity-text-block img {
  cursor: pointer;
}

.entity-text-block blockquote {
  font-style: italic;
  font-size: 1.1em;
  font-color: #d9dcec;
  text-align: justify;
  border-left: 6px solid #d9dcec;
  padding: 6px 12px 6px 6px;
  margin: 2px 0 8px;
}

.entity-text-block blockquote p {
  margin: 0 6px 6px;
}

.entity-text-block .codehilite pre {
  margin: 0;
  font-size: 0.95em;
}

.entity-text-block .codehilite {
  margin: 2px 0 8px;
}

.entity-text-block .codehilite code {
  white-space: pre;
}

.entity-text-block pre {
  border: 1px solid #d9dcec;
  border-radius: 3px;
}

.entity-text-block iframe {
  border: 0;
}

.embedded-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 8px 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
