.entity-pagination {
  border: 1px solid gainsboro;
  box-shadow: 0 0 4px gainsboro;
  background-color: ghostwhite;
  background-image: linear-gradient(to top, ghostwhite, snow);
  border-radius: 4px;
}

.pagination {
  margin: 5px 0 -2px 0;
}
