.user-avatar {
  width: 160px;
  height: 160px;
  float: left;
}

.user-info {
  margin-left: 172px;
  padding-top: 4px;
}

.user-info h3 {
  margin: 0 0 4px 0;
  font-style:italic;
  text-shadow: 0 0 3px lightgray;
}

.user-info-table {
  border-collapse: collapse;
}

.user-info-table tr {
  border-bottom: 1px dashed lightgray;
}

.user-info-table td {
  padding: 2px 8px;
}

.details-block {
  margin: 6px 0 0;
}

.description-block {
  margin: 6px 0 0;
}

.description-text {
  margin: 0 0 4px;
}

.description-options {
  padding: 4px 0 0;
  border-top: 1px dashed lightgray;
}

.blog-description {
  text-align: justify;
  font-style: italic;
  text-shadow: 0 0 6px lightgray;
  margin: 0;
}

.actions-block {
  margin: 6px 0 0;
}

.actions-header {
  border-radius: 3px 3px 0 0;
  padding: 4px 4px;
}

.actions-header:hover {
  cursor: pointer;
}

.actions-body {
  margin: 6px 0 0;
}

#permissions-block .actions-body {
  margin: 0;
}

#description-e {
  margin-top: 6px;
  padding: 6px;
  box-shadow: 0 0 6px beige;
  border: 2px solid beige;
  background-color: beige;
  border-radius: 6px;
}

#description-editor {
  text-align: justify;
}

#permissions-block .form-form {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

#permissions-block .form-group {
  margin: 6px 0 0;
}

#permissions-block .checkbox {
  font-size: 0.9em;
  margin: 0;
}

#permissions-block .checkbox label label {
  padding: 0 0 0 3px;
}
