DEBUG=True
ASSETS_DEBUG=False
SITE_NAME=Sandbox
SITE_DESCRIPTION='This is a sandbox for CodeJ'
DSN=
USER=jazz
DB=sandboxdev
REDI='redis://localhost:6379/0'
SECRET_KEY='secret key'
SESSION_LIFETIME=2592000
SEND_FILE_MAX_AGE=3600
REQUEST_INTERVAL=0.15
TOKEN_LENGTH=1
MAIL_SERVER=smtp.mail.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=noreply@codej.ru
MAIL_PASSWORD=############
SUBJECT_PREFIX='[CodeJ ] '
SENDER='robot <noreply@codej.ru>'
ALBUMS_PER_PAGE=3
PICTURES_PER_PAGE=3
ARTS_PER_PAGE=3
ALIASES_PER_PAGE=3
ANNS_PER_PAGE=3
