{% extends "base.html" %}
{% from "macros/_drafts.html" import show_arts %}

{%- block title_part -%}Ваши черновики{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/drafts/drafts.css',
             'css/base.css',
             'css/listed-mc.css',
             'css/content-block.css',
             'css/form-help.css',
             'css/today-field.css',
             'css/inline-form.css',
             'css/entity-block.css',
             'css/entity-attributes.css',
             'css/labels.css',
             'css/avatar.css',
             'css/entity-summary.css',
             'css/entity-details.css',
             'css/personal-details.css',
             'css/drafts.css',
             'css/pagination.css',
             'css/next-block.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  {% if cu %}
    <script id="draftst" type="text/template">
      <% #canwrite %>
        <% #extra %>
          <div id="new-title" class="content-block entity-block
                                     {% if flashed %}next-block
                                     {%- endif -%}">
            <h1>Новый топик для блога</h1>
            <div class="block-body">
              <div class="today-field"></div>
              <div class="form-help">
                <p>
                  Здесь можно создать новый топик в блог, для этого достаточно
                  заполнить форму ниже и нажать кнопку "Создать". Имейте ввиду,
                  что заголовок обязателен и не может быть длинее, чем 100
                  символов. Созданный топик можно будет наполнить содержимым
                  и опубликовать.
                </p>
              </div>
              <div class="form-form">
                <table class="inline-form-table">
                  <tbody>
                    <tr>
                      <td class="input-field">
                        <input id="title"
                               class="form-control"
                               type="text"
                               placeholder="введите заголовок топика">
                      </td>
                      <td>&nbsp;</td>
                      <td>
                        <button id="title-submit"
                                class="btn btn-primary"
                                type="button">Создать</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% /extra %>
      <% /canwrite %>
      <% ^canwrite %>
        <div class="alert alert-warning">
          Разрешение вести свой блог можно получить у администратора.
        </div>
      <% /canwrite %>
      {{ show_arts('/drafts/', '/drafts/t/') }}
      <% ^pagination.articles %>
        <div class="alert alert-warning next-block">
          На текущий момент у вас нет черновиков.
        </div
      <% /pagination.articles %>
      <% #pv %>
        <div class="entity-pagination next-block text-center">
          <%{ pv }%>
        </div>
      <% /pv %>
    </script>
  {%- endif -%}
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let cu="{{ cu.username }}"; let page="{{ page }}";</script>
  {%- assets filters='rjsmin', output='generic/js/drafts/drafts.js',
             'js/show-drafts.js',
             'js/format-footer.js',
             'js/close-topflashed.js',
             'js/slide-page.js',
             'js/check-mc.js',
             'js/check-browser.js',
             'js/render-tf.js',
             'js/mark-input-error.js',
             'js/show-error.js',
             'js/format-datetime.js',
             'js/fix-comma.js',
             'js/check-next.js',
             'js/check-incomming.js',
             'js/drafts/drafts.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
