{% extends "base.html" %}

{%- block title_part -%}
  Сайт для ведения текстовых блогов
{%- endblock title_part -%}

{%- block metas -%}
  {{- super() -}}
  <meta name="description"
        content="{{ request.app.config.get('SITE_DESCRIPTION') }}">
{%- endblock metas -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/main/index.css',
            'css/base.css',
            'css/main-container.css',
            'css/empty-message.css',
            'css/content-block.css',
            'css/today-field.css',
            'css/form-help.css',
            'css/form-labeled.css',
            'css/entity-text-block.css',
            'css/pygments.css',
            'css/captcha.css',
            'css/index.css',
            'css/next-block.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
  <link rel="canonical" href="{{ url_for('index') }}">
{%- endblock styles -%}

{%- block templates -%}
  {{ super() }}
  {% if not cu %}
  <script id="rspt" type="text/template">
    <div id="rspf" class="form-block content-block to-be-hidden">
      <h1>Восстановите забытый пароль</h1>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый <% username %>, здесь Вы можете восстановить свой забытый
          пароль, для этого заполните форму ниже. Введите в соответствующие
          поля Ваш адрес электронной почты, на который Вы получили сообщение
          со ссылкой на эту страницу, придумайте и введите новый пароль,
          повторите его ввод в поле "Повторить" и нажмите кнопку "Обновить
          пароль", будьте внимательны, после обновления пароля Вы сможете
          войти в сервис только с новым паролем. Повторно запросить
          восстановление пароля можно будет не ранее чем через {{ interval }}
          часов.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsaddress">Адрес эл.почты:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsaddress"
                     name="rsaddress"
                     placeholder="введите свой адрес электронной почты"
                     autocomplete="username"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rspassword">Новый пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rspassword"
                     name="rspassword"
                     placeholder="введите желаемый пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsconfirm">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsconfirm"
                     name="rsconfirm"
                     placeholder="повторите пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="rsp-submit"
                      name="rsp-submit"
                      data-aid="<% aid %>">Обновить пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
  <script id="crpt" type="text/template">
    <div id="crpf" class="form-block content-block to-be-hidden">
      <h1>Создайте свой пароль</h1>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый гость, для создания пароля заполните форму ниже.
          Придумайте и введите в соответствующие поля желаемый псевдоним и
          пароль. Пароль нужно ввести второй раз в поле "Повторить".
          Псевдоним может содержать от 3-х до 16-ти символов (латинские
          буквы, буквы русского алфавита, цифры, знак подчёркивания, дефис и
          точка), первый символ псевдонима должен быть латинской или русской
          буквой. Нажмите кнопку "Создать пароль". Будьте внимательны,
          псевдоним и пароль Вам потребуются для входа в сервис, а восстановить
          пароль можно будет не ранее чем через {{ interval }} часов с момента
          запроса регистрационной формы.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="username">Псевдоним:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="username"
                     name="username"
                     autocomplete="username"
                     placeholder="введите желаемый псевдоним"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="crpassword">Пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="crpassword"
                     name="crpassword"
                     placeholder="введите желаемый пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="confirmation">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="confirmation"
                     name="confirmation"
                     placeholder="повторите пароль"
                     required
                     autocomplete="new-password"
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="crp-submit"
                      name="crp-submit"
                      data-aid="<% aid %>">Создать пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
  <script id="regt" type="text/template">
    <div id="regf" class="form-block content-block to-be-hidden">
      <h1>Запрос регистрации или восстановления пароля</h1>
      <div class="today-field">some</div>
      <div class="form-help">
        <p>
          Уважаемый гость, получить пароль можно, заполнив форму ниже,
          в ней нужно ввести в соответствующие поля Ваш адрес электронной
          почты и код с картинки, а затем нажать кнопку "Получить пароль".
          На Ваш адрес будет выслано письмо с дальнейшими инструкциями,
          следуйте им. Форма действительна в течение 3-минут с момента
          загрузки этой страницы, или с момента обновления картинки с кодом.
          Если картинка с кодом плохо читается, её можно обновить кнопкой
          со стрелками слева от картинки. <b>Для справки:</b> код на картинке
          состоит из строчных латинских букв и цифр без повторов, будьте
          внимательны, очень легко спутать букву "о" и цифру "0".
        </p>
      </div>
      <div class="form-form">
        <div class="form-group">
          <div class="form-label text-right">
            <label for="raddress">Адрес эл.почты:</label>
          </div>
          <div class="form-input">
            <input class="form-control"
                   id="raddress"
                   maxlength="128"
                   name="raddress"
                   placeholder="введите свой адрес эл.почты"
                   required
                   type="text">
          </div>
          <div class="footer-bottom"></div>
        </div>
        <div class="form-group">
          <div class="form-label captcha-options text-right">
            <button type="button"
                    title="обновить картинку"
                    id="rcaptcha-reload"
                    class="btn btn-default">
              <span class="glyphicon glyphicon-refresh"
                    aria-hidden="true"></span>
            </button>
          </div>
          <div id="rcaptcha-field" class="form-input captcha-field"
               style="background:url(<% url %>)"></div>
          <div class="footer-bottom"></div>
        </div>
        <div class="form-group">
          <div class="form-label text-right">
            <label for="rcaptcha">Код с картинки:</label>
          </div>
          <div class="form-input">
            <input class="form-control"
                   id="rcaptcha"
                   placeholder="введите код с картинки"
                   required
                   type="text">
          </div>
          <div class="footer-bottom"></div>
        </div>
        <div class="form-group hidden">
          <div class="form-input">
            <input class="form-control"
                   id="rsuffix"
                   required
                   type="text"
                   value="<% captcha %>">
          </div>
        </div>
        <div class="form-group">
          <div class="form-input">
            <button type="button"
                    class="btn btn-primary"
                    id="reg-submit">Получить пароль</button>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script id="logint" type="text/template">
    <div id="loginf" class="form-block content-block to-be-hidden">
      <h1>Вход в сервис</h1>
      <div class="today-field">some</div>
      <div class="form-help">
        <p>
          Для входа в сервис введите свой логин, пароль и код с картинки,
          нажмите кнопку "Войти в сервис". Логином может быть
          зарегестрированный псевдоним или адрес электронной почты. Форма
          действительна в течение 3-х минут. Если код на картинке плохо
          читается, можно обновить картинку кнопкой со стрелками и найти
          картинку с хорошо читаемым кодом. <b>Для справки:</b> код
          состоит из строчных латинских букв и цифр без повторов, будьте
          внимательны, очень легко спутать букву "o" и цифру "0".
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="logininput">Логин:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="logininput"
                     name="logininput"
                     autocomplete="username"
                     placeholder="введите свой логин"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="password">Пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="password"
                     name="password"
                     autocomplete="current-password"
                     placeholder="введите свой пароль"
                     required
                     type="password">
            </div>
          </div>
          <div class="form-group">
            <div class="form-input checkbox">
              <label>
                <input id="remember_me"
                       name="remember_me"
                       type="checkbox">
                <label for="remember_me">
                  Хранить сессию 30 дней
                </label>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label captcha-options text-right">
              <button type="button"
                      title="обновить картинку"
                      id="lcaptcha-reload"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"
                      aria-hidden="true"></span>
              </button>
            </div>
            <div id="lcaptcha-field" class="form-input captcha-field"
                 style="background:url(<% url %>)"></div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="lcaptcha">Код с картинки:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="lcaptcha"
                     placeholder="введите код с картинки"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group hidden">
            <div class="form-input">
              <input class="form-control"
                     id="lsuffix"
                     required
                     type="text"
                     value="<% captcha %>">
            </div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary"
                      id="login-submit"
                      name="login-submit">Войти в сервис</button>
              <button type="button"
                      class="btn btn-info"
                      id="login-reg">Получить пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
  {% endif %}
{%- endblock templates -%}

{%- block page_body -%}
  {%- if art -%}
    <div id="topic" class="content-block {% if flashed %}next-block
                                         {%- endif -%}">
      <h1 title="{{ art['title'] }}">
        {{ art['title'] }}
      </h1>
      <div id="art-date-field" class="date-field">
        {{ art['edited'] }}
      </div>
      <div class="text-block entity-text-block">
        {{ art['html']|safe }}
      </div>
      <div id="admin-sign-block">
        <img alt="avatar" src="{{ url_for(
        'ava', username=art['author'], size=32)}}">{{ art.author}} 
      </div>
    </div>
  {%- else -%}
    <div id="idef" class="alert alert-warning page-block {% if flashed -%}
                next-block{%- endif -%}">
      <div class="today-field">some</div>
      <div class="empty-message">
        Сайт в стадии разработки, пропробуйте зайти позже.
      </div>
    </div>
  {%- endif -%}
{%- endblock page_body -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let cu="{{ cu.username }}";</script>
  {%- assets filters='rjsmin', output='generic/js/main/index.js',
            'js/format-footer.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/close-topflashed.js',
            'js/login.js',
            'js/reg.js',
            'js/slide-page.js',
            'js/login-reg.js',
            'js/login-submit.js',
            'js/captcha-reload.js',
            'js/check-browser.js',
            'js/show-error.js',
            'js/logout.js',
            'js/logout-all.js',
            'js/reg-submit.js',
            'js/parse-hash.js',
            'js/request-passwd.js',
            'js/create-user.js',
            'js/reset-passwd.js',
            'js/reset-pwd.js',
            'js/change-email.js',
            'js/format-datetime.js',
            'js/adjust-frame.js',
            'js/set-margin.js',
            'js/adjust-image.js',
            'js/click-image.js',
            'js/check-incomming.js',
            'js/main/index.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
