{% extends "base.html" %}

{%- block title_part -%}Index{%- endblock title_part -%}

{%- block metas -%}
  {{- super() -}}
  <meta name="description"
        content="{{ request.app.config.get('SITE_DESCRIPTION') }}">
{%- endblock metas -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/main/index.css',
            'css/mc.css',
            'css/empty-message.css',
            'css/today-field.css',
            'css/base.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block page_body -%}
  <div class="alert alert-warning page-block">
    <div class="today-field"></div>
    <div class="empty-message">
      Сайт в стадии разработки, пропробуйте зайти позже.
    </div>
  </div>
{%- endblock page_body -%}

{%- block scripts -%}
  {{- super() -}}
  {%- assets filters='rjsmin', output='generic/js/main/index.js',
            'js/format-footer.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/main/index.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
