<!DOCTYPE html>
<html lang="ru">
  <head>
    {%- block metas -%}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas -%}
    {%- block title -%}
    <title>Sandbox: {% block title_part %}{% endblock title_part %}</title>
    {%- endblock title -%}
    {%- block styles -%}
      <link rel="icon"
            href="{{ url_for('favicon') }}"
            type="image/vnd.microsoft.icon">
      {% assets filters='cssmin', output='generic/css/vendor.css',
                'vendor/bootstrap/css/bootstrap.css',
                'vendor/bootstrap/css/bootstrap-theme.css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}
    {%- endblock styles -%}
  </head>
  <body>
    <div id="main-container">
      {%- block page_body -%}{%- endblock page_body -%}
    </div>
    {% block scripts %}
      {% assets filters='rjsmin', output='generic/js/vendor-pub.js',
                'vendor/jquery.js',
                'vendor/luxon.js',
                'vendor/bootstrap/js/bootstrap.js' %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock scripts %}
  </body>
</html>
